* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: #0a2f51;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* An exception for activeClassName since I dont want to waste so much time looking at this minor */
.headerActiveHeaderLink {
  border-bottom: #56b870 0.1rem solid;
}

.footerActiveHeaderLink {
  color: #fff !important;
}
